# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/ and lib64/ removed to allow React lib/ folder
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.sqlite3
*.db
nimcet.db

# Logs
*.log
client-dev.err.log
client-dev.log
server-dev.err.log
server-dev.log
